body {
  background: #eee;
}
.date {
  font-size: 11px;
}
.comment-text {
  font-size: 15px;
}
.fs-12 {
  font-size: 15px;
}
.shadow-none {
  box-shadow: black;
}
.name {
  color: #0051ff;
}
.cursor:hover {
  color: blue;
}
.cursor {
  cursor: pointer;
}
.textarea {
  resize: none;
}
.container_commment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1,1fr); color:rgb(0, 0, 0);;
  border-radius: 15px solid black;
  background: rgb(230, 227, 227);
  padding: 12px 2rem 2rem 2rem;
  width: 35rem;
 
}
.btn_comment {
  display: flex;
  justify-content: center;
  align-items: center;

}
.gap_comment{
    gap: 2rem;
    padding-left: 15rem;
    padding-bottom: 2rem;
    border-radius: solid 2px red !important;
}
.container_comment_center{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,2fr);
    border-radius: 2px solid black;
}
.comment_botton{
    padding: 3rem 8rem 1rem 1rem;
   
}

