.about_container {
  margin: 0 auto;
  width: 1024px;
  margin-top: 1rem;
}
.about_top {
  background: #d1c7c7f9;
  height: 430px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px;
  background: url(../Media/Images/mitch-nielsen-VUDJjCRXbHQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_top > div:nth-child(1) {
  background: #e0b943ce;
}
.text_top > div > h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}
.text_top > div > p {
  font-weight: 800;
}
.text_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3rem;
}

.btn_text_top {
  background: none;
  border: solid 3px white;
  border-radius: 4px;
  width: 8rem;
  height: 3rem;
  color: white;
  font-size: 15px;
  border-radius: 8px 8px;
}

.info_adam {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #f5f7fbf9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_adam > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.style_info {
  display: flex;
  align-items: center;
}
.style_info > div:nth-child(1) {
  background: #e0b943ce;
  width: 35px;
  height: 8px;
}
.style_info > div:nth-child(2) {
  background: black;
  width: 35px;
  height: 8px;
}
.box_info_adam {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
  /* width: 50em;
  height: 25rem; */
}
.box_info_adam > div:nth-child(1) {
  background: #e0b943ce;
  border-radius: 25px;
}
.box_info_adam > div:nth-child(2) {
  position: relative;
  left: 2rem;
}
img {
  width: 29rem;
}
.text_info {
  padding-top: 5rem;
}
.text_info > h1 {
  font-size: 2rem;
}
.text_info > h1 > span {
  color: #e0b943ce;
}
/* .box_info_adam>div:nth-child(2){} */
.info_experience {
  height: 250px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
.info_experience > div:nth-child(1) {
  border: solid #d0d0d0 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  height: 8rem;
}
.info_experience > div:nth-child(2) {
  border: solid #d0d0d0 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  height: 8rem;
}
.info_experience > div:nth-child(3) {
  border: solid #d0d0d0 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  height: 8rem;
}
.info_experience > div:nth-child(1) > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.info_experience > div:nth-child(2) > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.info_experience > div:nth-child(3) > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.icon_pen {
  font-size: 2.5rem;
  color: #e0b943ce;
}
.about_botton_container {
  background: url(../Media//Images/mike.jpg);
  height: 260px;
}
.img_experience {
  background: #00000085;
  height: 260px;
}
.about_botton {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5rem;
}
.about_botton div:nth-child(1) > h1 {
  color: #e0b943ce;
}
.about_botton div:nth-child(2) > h1 {
  color: #e0b943ce;
}
.about_botton div:nth-child(3) > h1 {
  color: #e0b943ce;
}
.about_botton div:nth-child(4) > h1 {
  color: #e0b943ce;
}
.about_botton > div:nth-child(1) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.about_botton > div:nth-child(2) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.about_botton > div:nth-child(3) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.about_botton > div:nth-child(4) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.my_photo {
  position: relative;
  top: 2rem;
}
.service {
  background: #e0b943ce;
  height: 150px;
}
.style_info_ex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_service {
  background: #f5f7fbf9;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 180px;
}
.web_service > div:nth-child(1) {
  margin-top: -11rem;
  width: 12rem;
  height: 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_service > div:nth-child(2) {
  margin-top: -11rem;
  width: 12rem;
  height: 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_service > div:nth-child(3) {
  margin-top: -11rem;
  width: 12rem;
  height: 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_service {
  display: flex;
  gap: 3rem;
}

.program_style {
  width: 69px;
  height: 70px;
}
.spacer {
  background: none;
  height: 60px;
}
@media (max-width: 1399px) {
  .about_container {
    width: 1000px;
  }
}
@media (max-width: 1199px) {
  .about_container {
    width: 950px;
  }
}
@media (max-width: 1011px) {
  .about_container {
    width: 767px;
  }
}
@media (max-width: 767px) {
  .about_top{
    height: 300px;
  }
  .about_container {
    width: 500px;
  }

  .info_experience {
    grid-template-columns: repeat(1, 1fr);
    height: 460px;
  }
  .info_experience > div:nth-child(1) {
    width: 30rem;
  }
  .info_experience > div:nth-child(2) {
    width: 30rem;
  }
  .info_experience > div:nth-child(3) {
    width: 30rem;
  }
  .text_top > div > h1 {
    font-size: 2rem;
  }
  .text_top {
    padding-right: 2rem;
  }
  .box_info_adam {
    grid-template-columns: repeat(1, 1fr);
  }
  img {
    width: 21rem;
  }
  .box_info_adam > div:nth-child(2){
    left: 0rem;
    bottom: 2rem;
  }
  .about_botton {
    grid-template-columns: repeat(2, 200px);
    padding-top: 1.5rem;
    gap: 1rem;
  }
  .about_botton > div:nth-child(1){
    height: 6rem;
  }
  .about_botton > div:nth-child(2){
    height: 6rem;
  }
  .about_botton > div:nth-child(3){
    height: 6rem;
  }
  .about_botton > div:nth-child(4){
    height: 6rem;
  }
}
@media (max-width: 580px) {
  .about_container {
  }
}
@media (max-width: 300px) {
}
/* .abuot_conatainer {
  margin: 0 auto;
  max-width: 1100px;
  width: 1100px;
  border-radius: 1rem;
}
.about_controle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "b a a"
    "b a a";
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.about_controle > div:nth-child(1) {
  grid-area: a;
}
.about_controle > div:nth-child(2) {
  grid-area: b;
}

.main_right > h1 {
  font-size: 2rem;
  color: white;
}
.text_right {
  color: white;
  text-align: center;
  background: #353437;
  padding-top: 1rem;
  border-radius: 0px 15px 0px 0px;
}
.text_decoration {
  height: 2rem;
  margin: 0;
  width: 35rem;
  text-align: center;
}

.text_right > span:nth-child(1) {
  color: rgb(245, 78, 78);
}
.container_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgb(0, 0, 0);
  border: solid black 1px;
  border-radius: 0px 0px 15px 0px;
}
.container_right > div:nth-child(1) {
  color: rgb(255, 255, 255);
}
.container_right > div:nth-child(2) {
  color: rgb(255, 255, 255);
}
.container_right > div:nth-child(3) {
  color: rgb(255, 255, 255);
}
.container_right > div:nth-child(4) {
  color: rgb(255, 255, 255);
}
.text_resume {
  padding: 2rem;
  padding-left: 3rem;
}

.experience {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  align-items: center;
  border: red;
}
.experience > div:nth-child(1) {
  background: gray;
  height: 6rem;
  width: 9rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 1rem;
  font-size: 12px;
  box-shadow: 1px 1px 5px gray;
}
.experience > div:nth-child(2) {
  background: gray;
  height: 6rem;
  width: 9rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 1rem;
  font-size: 12px;
  box-shadow: 1px 1px 5px gray;
}
.experience > div > h1 {
  color: rgb(243, 243, 154);
  font-size: 2rem;
}
.experience > div:nth-child(3) {
  background: gray;
  height: 6rem;
  width: 9rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 1rem;
  font-size: 12px;
  box-shadow: 1px 1px 5px gray;
}
.experience > div:nth-child(4) {
  background: gray;
  height: 6rem;
  width: 9rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 1rem;
  font-size: 12px;
  box-shadow: 1px 1px 5px gray;
}


.main_left {
  display: grid;
  justify-items: center;

  padding-top: 2rem;
  border: solid black 2px;
  border-radius: 15px 0px 0px 15px;
}
.main_left > h1 {
  font-size: 2rem;
  color: rgb(9, 8, 8);
}
.main_left > p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding-bottom: 4rem;
}
.my_photo {
  border-radius: 300px;
  border: solid rgb(206, 206, 169) 5px;
  box-shadow: 2px 5px 8px black;
  height: 150px;
  width: 150px;
  text-align: center;
}


.info_project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 1px;
  color: white;
  justify-items: center;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "d d e e";
  border: solid 2px black;
  border-radius: 8px;
  padding: 2rem;
}
.info_project > div:nth-child(1) > h2 {
  color: black;
}
.info_project > div:nth-child(2) > h2 {
  color: black;
}
.info_project > div:nth-child(3) > h2 {
  color: black;
}
.info_project > div:nth-child(4) > h2 {
  color: black;
}

.about_techn > h1 {
  color: black;
  text-align: center;
}
.about_techn {
  padding-bottom: 2rem;
}

@media (max-width: 1399px) {
  .abuot_conatainer {
    width: 1100px;
  }
} */

/* @media (max-width: 1199px) {
  .abuot_conatainer {
    width: 1000px;
  }
}
@media (max-width: 1011px) {
  .abuot_conatainer {
    width: 768px;
  }
  .experience > div:nth-child(1) {
    width: 7rem;
  }
  .experience > div:nth-child(2) {
    width: 7rem;
  }
  .experience > div:nth-child(3) {
    width: 7rem;
  }
  .experience > div:nth-child(4) {
    width: 7rem;
  }
}
@media (max-width: 767px) {
  .abuot_conatainer {
    width: 600px;
  }
  .experience > div:nth-child(1) {
    width: 4rem;
    height: 5rem;
  }
  .experience > div:nth-child(2) {
    width: 4rem;
    height: 5rem;
  }
  .experience > div:nth-child(3) {
    width: 4rem;
    height: 5rem;
  }
  .experience > div:nth-child(4) {
    width: 4rem;
    height: 5rem;
  }
  .experience > div > h1 {
    font-size: 20px;
  }
} */
/* @media (max-width: 580px) {
  .abuot_conatainer {
   
    display: flex; 
    flex-direction: column;
    width: 500;
  }
  .about_controle{
  
  }  
  .main_left {
    border-radius: 8px 8px 8px 8px;
  }
  .text_right {
    border-radius: 8px 8px 0px 0px;
  }
  .container_right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2px 2px 8px 8px;
  }
  .experience > div:nth-child(1) {
    width: 7rem;
    margin-bottom: 1rem;
  }
  .experience > div:nth-child(2) {
    width: 7rem;
    margin-bottom: 1rem;
  }
  .experience > div:nth-child(3) {
    width: 7rem;
  }
  .experience > div:nth-child(4) {
    width: 7rem;
  }
  .about_techn {
    padding-left: 5.5rem;
    padding-bottom: 2rem;
  }
  .about_techn > h1 {
    color: black;
    font-size: 1.5rem;
    position: relative;
    right: 3.5rem;
  }
  .info_project {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
} */
/* @media (max-width: 300px) {
  .abuot_conatainer {
    display: flex;
    gap: 1rem;
  }
  .about_controle{
    width: 250px;
    margin: 0 auto;
    margin-left:1.5rem;
  }  
} */
