.about_container {
  margin: 0 auto;
  width: 1250px;
}
.about_top {
  background: #d1c7c7f9;
  height: 430px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px;
  background: url(../Media/Images/mitch-nielsen-VUDJjCRXbHQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_top > div:nth-child(1) {
  background: #e0b943ce;
}
.text_top > div > h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}
.text_top > div > p {
  font-weight: 800;
  font-size: 25px;
}
.text_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3rem;
}

.btn_text_top {
  background: none;
  border: solid 3px white;
  border-radius: 4px;
  width: 8rem;
  height: 3rem;
  color: white;
  font-size: 15px;
  border-radius: 8px 8px;
}

.info_adam {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #f5f7fbf9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_adam > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.style_info {
  display: flex;
  align-items: center;
}
.style_info > div:nth-child(1) {
  background: #e0b943ce;
  width: 35px;
  height: 8px;
}
.style_info > div:nth-child(2) {
  background: black;
  width: 35px;
  height: 8px;
}
.box_info_adam {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
}
.box_info_adam > div:nth-child(1) {
  background: #e0b943ce;
  border-radius: 25px;
}
.box_info_adam > div:nth-child(2) {
  position: relative;
  left: 2rem;
}
img {
  width: 29rem;
}
.text_info {
  padding-top: 5rem;
}
.text_info > h1 {
  font-size: 2rem;
}
.text_info > h1 > span {
  color: #e0b943ce;
}

.info_experience {
  height: 250px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
.info_experience > div:nth-child(1) {
  border: solid #d0d0d0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 8rem;
}
.info_experience > div:nth-child(2) {
  border: solid #d0d0d0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 8rem;
}
.info_experience > div:nth-child(3) {
  border: solid #d0d0d0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 8rem;
}
.info_experience > div:nth-child(1) > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.info_experience > div:nth-child(2) > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.info_experience > div:nth-child(3) > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.icon_pen {
  font-size: 2.5rem;
  color: #e0b943ce;
}
.about_botton_container {
  background: url(../Media//Images/mike.jpg);
  height: 260px;
}
.img_experience {
  background: #00000085;
  height: 260px;
}
.about_botton {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5rem;
}
.about_botton div:nth-child(1) > h1 {
  color: #e0b943ce;
}
.about_botton div:nth-child(2) > h1 {
  color: #e0b943ce;
}
.about_botton div:nth-child(3) > h1 {
  color: #e0b943ce;
}
.about_botton div:nth-child(4) > h1 {
  color: #e0b943ce;
}
.about_botton > div:nth-child(1) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.about_botton > div:nth-child(2) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.about_botton > div:nth-child(3) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.about_botton > div:nth-child(4) {
  border: solid #ffffff 4px;
  width: 12rem;
  height: 7rem;
  color: white;
  text-align: center;
}
.my_photo {
  position: relative;
  top: 2rem;
}
.service {
  background: #e0b943ce;
  height: 150px;
}
.style_info_ex {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web_service {
  background: #f5f7fbf9;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 180px;
}
.web_service > div:nth-child(1) {
  margin-top: -11rem;
  width: 12rem;
  height: 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_service > div:nth-child(2) {
  margin-top: -11rem;
  width: 12rem;
  height: 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_service > div:nth-child(3) {
  margin-top: -11rem;
  width: 12rem;
  height: 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_service {
  display: flex;
  gap: 3rem;
}

.program_style {
  width: 69px;
  height: 70px;
}
.spacer {
  background: none;
  height: 60px;
}
@media (max-width: 1399px) {
  .about_container {
    width: 1000px;
  }
}
@media (max-width: 1199px) {
  .about_container {
    width: 950px;
  }
}
@media (max-width: 1011px) {
  .about_container {
    width: 767px;
  }
  .about_botton {
    grid-template-columns: repeat(4, 160px);
  }
  .about_botton > div:nth-child(1){
    width: 8rem;
  }
  .about_botton > div:nth-child(2){
    width: 8rem;
  }
  .about_botton > div:nth-child(3){
    width: 8rem;
  }
  .about_botton > div:nth-child(4){
    width: 8rem;
  }
}
@media (max-width: 767px) {
  .about_top {
    height: 300px;
  }
  .about_container {
    width: 500px;
  }

  .info_experience {
    grid-template-columns: repeat(1, 1fr);
    height: 460px;
  }
  .info_experience > div:nth-child(1) {
    width: 30rem;
  }
  .info_experience > div:nth-child(2) {
    width: 30rem;
  }
  .info_experience > div:nth-child(3) {
    width: 30rem;
  }
  .text_top > div > h1 {
    font-size: 2rem;
  }
  .text_top {
    padding-right: 2rem;
  }
  .box_info_adam {
    grid-template-columns: repeat(1, 1fr);
  }
  img {
    width: 21rem;
  }
  .box_info_adam > div:nth-child(2) {
    left: 0rem;
    bottom: 2rem;
  }
  .about_botton {
    grid-template-columns: repeat(2, 127px);
    padding-top: 1.5rem;
    gap: 1rem;
  }
  .about_botton > div:nth-child(1) {
    height: 6rem;
  }
  .about_botton > div:nth-child(2) {
    height: 6rem;
  }
  .about_botton > div:nth-child(3) {
    height: 6rem;
  }
  .about_botton > div:nth-child(4) {
    height: 6rem;
  }
  .web_service {
    gap: 0;
  }
}
@media (max-width: 580px) {
  .about_container {
    width: 350px;
  }
  .info_experience {
    width: 350px;
    grid-template-columns: repeat(1, 350px);
  }
  .info_experience > div:nth-child(1) {
    width: 350px;
  }
  .info_experience > div:nth-child(2) {
    width: 350px;
  }
  .info_experience > div:nth-child(3) {
    width: 350px;
  }
  .text_top {
    padding-left: 1rem;
  }
  .about_botton {
    grid-template-columns: repeat(2, 127px);
  }
  .about_botton > div:nth-child(1) {
    width: 8rem;
  }
  .about_botton > div:nth-child(2) {
    width: 8rem;
  }
  .about_botton > div:nth-child(3) {
    width: 8rem;
  }
  .about_botton > div:nth-child(4) {
    width: 8rem;
  }
  .web_service {
    gap: 0;
  }
}
@media (max-width: 300px) {
  .about_container {
    width: 200px;
    margin: 0 auto;
  }
  img {
    width: 12rem;
}
.info_experience > div:nth-child(1) {
  width: 245px;
}
.info_experience > div:nth-child(2) {
  width: 245px;
}
.info_experience > div:nth-child(3) {
  width: 245px;
}
.info_experience {
  grid-template-columns: repeat(1, 195px);
}
.about_botton {
  grid-template-columns: repeat(1, 127px);
}
.about_botton_container{
  height: 480px;
}
}
