/* *********** */
/* comment js  */
.container_comment_center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b c"
    "b d";
  margin: 0 auto;
  width: 1024px;
  max-width: 1024px;
  border: solid 1px;
  border-radius: 8px;
  padding: 18px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  background: #f5f7fbf9;
}
.container_comment_center > div:nth-child(1) {
  grid-area: a;
}
.container_comment_center > div:nth-child(2) {
  grid-area: b;
}
.container_comment_center > div:nth-child(3) {
  grid-area: c;
}
.container_comment_center > h1 {
  color: black;
  font-size: 1.2rem;
  position: relative;
  bottom: 1.9rem;
  left: 3rem;
  background: white;
  width: 6.2rem;
  display: flex;
  justify-content: center;
}
/* ************ */
/* edit comment */
.container_edit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card_edit {
  background:none;
  border-radius: 8px #d0d0d0;
  border: solid 1px;
  padding: 1rem;
  display: flex;
}
.btn_style {
  display: flex;
  padding-top: 1rem;
  color:#e0b943ce;
}
.user_name {
  color: rgb(38, 14, 60);
  font-size: 15px;
  font-weight: 900;
}
.comment {
  font-size: 12px;
}
.date {
  color: rgb(15, 61, 134);
  font-size: 11px;
  font-weight: 600;
}
/* *********** */
/* New comment */
.new_comment {
  border: solid 1px;
  border-radius: 2px;
  background: #e0b943ce;
  box-shadow: 5px 5px 1px;
  padding: 1.5rem;
}
.text_comment {
  border: solid 1px;
  border-radius: 4px;
  width: 30rem;
}
.text_comment:hover {
  border: solid 2px #000000;
  border-radius: 4px;
}
.user_name {
  padding-top: 10px;
  padding-bottom: 15px;
}
.input_user:hover {
  border: solid 2px #000000;
}
.input_user {
  border-radius: 4px;
  border: solid 1px;
  width: 30rem;
  height: 2rem;
}
.btn_comment {
  background: rgb(6, 6, 4);
  border:solid white 2px ;
  border-radius: 8px;
  color: white;
  width: 30rem;
}

/* 7 */
/* 
@media (max-width: 1399px) {
  .container_comment_center {
   
  }
} */
@media (max-width: 1199px) {
  .container_comment_center {
    width: 50rem;
    grid-template-columns: repeat(2, 420px);
  }
  /* .new_comment {
    width: 18rem;
  } */
  .text_comment {
    width: 18rem;
  }
}
@media (max-width: 1199px) {
  .container_comment_center {
    justify-items: center;
    grid-template-columns: repeat(2, 370px);
  }
  /* .new_comment {
    width: 30rem;
  } */
  .new_comment{
    width: 21rem;
  }
  .btn_comment{
    width: 18rem;
  }
  .input_user{
    width: 18rem;
  }
}
@media (max-width: 1011px) {
  .container_comment_center {
    width: 28rem;

    grid-template-columns: repeat(2, 200px);

    grid-template-areas:
      "a a"
      "b b"
      "d d"
      "c c";
  }
  .new_comment {
    width: 20rem;
  }
  .text_comment {
    width: 17rem;
  }
  .input_user{
    width: 17rem;
  }
  .btn_comment{
    width: 17rem;
  }
}
@media (max-width: 767px) {
  .container_comment_center {
    width: 28rem;
    grid-template-columns: repeat(2, 200px);
  
  }
  .new_comment {
    width: 20rem;
  }

}
@media (max-width: 620px) {
}
@media (max-width: 560px) {
  .container_comment_center {
    width: 20rem;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
    grid-template-areas:
      "a "
      "b "
      "d "
      "c ";
  }
}
@media (max-width: 300px) {
  .container_comment_center {
    width: 10rem;
  }
  .new_comment {
    width: 10.5rem;
    height: 13rem;
  }
  .text_comment {
    width: 8rem;
    height: 4rem;
  }
  .input_user {
    width: 8rem;
  }
  .btn_comment {
    width: 8rem;
  }
}
