.top_main {
  margin: 0 auto;
  width: 1024px;
  max-width: 1024px;
  color: white;
  height: 100%;
}
p {
  margin-bottom: 0;
}
.img_style {
  background: url(../Media/Images/georgia-vagim-ny-lHmsHYHk-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 345px;
  color: rgb(33, 30, 30);
}
.img_style > div {
  background: #211d1d6e;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main_2 {
  background: #323232;
  height: 294px;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-areas:
    "a a b c d"
    "a a e f g";
  align-items: center;
  justify-content: center;
  padding: 37px;
}
.main_2 > div:nth-child(1) {
  grid-area: a;
  padding-right: 2rem;
}
.main_2 > div:nth-child(2) {
  grid-area: b;
  background: white;
  border-radius: 14px;
  width: 142px;
  height: 100px;
  color: black;
  padding: 11px;
}
.main_2 > div:nth-child(3) {
  grid-area: c;
  background: white;
  border-radius: 14px;
  width: 142px;
  height: 100px;
  color: black;
  padding: 11px;
}
.main_2 > div:nth-child(4) {
  grid-area: d;
  background: white;
  border-radius: 14px;
  width: 142px;
  height: 100px;
  color: black;
  padding: 11px;
}
.main_2 > div:nth-child(5) {
  grid-area: e;
  background: white;
  border-radius: 14px;
  width: 142px;
  height: 100px;
  color: black;
  padding: 11px;
}
.main_2 > div:nth-child(6) {
  grid-area: f;
  background: white;
  border-radius: 14px;
  width: 142px;
  height: 100px;
  color: black;
  padding: 11px;
}
.main_2 > div:nth-child(7) {
  grid-area: g;
  background: #e0b943;
  border-radius: 14px;
  width: 142px;
  height: 100px;
  color: black;
  padding: 11px;
}
.main_2_box_2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_2 > h2 {
  font-size: 20px;
}
.main_2_box_2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_3 > h2 {
  font-size: 20px;
}
.main_2_box_4 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_4 > h2 {
  font-size: 20px;
}
.main_2_box_5 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_5 > h2 {
  font-size: 20px;
}
.main_2_box_6 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_6 > h2 {
  font-size: 20px;
}
.main_2_box_7 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main_2_box_7 > h2 {
  font-size: 20px;
}

/*  */
.main_3 {
  background: url(../Media/Images/mitch-nielsen-VUDJjCRXbHQ-unsplash.jpg);
  /* filter: brightness(60%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 345px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  opacity: 0.9;
}
.main_3 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  padding: 45px;
  z-index: 2;
}
.main_3 > div:nth-child(2) {
  background: #8566477f;
  color: #f5ba08;
  padding-left: 3rem;
  padding-top: 3rem;
}
.main_3 > div > h3 {
  color: #000000;
  font-weight: 800;
}
.main_4 {
  background: #f0f0f0;
  color: black;
  height: 250px;
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(6, 128px);
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 7rem;
}
.main_4 > div:nth-child(1) {
  font-weight: 600;
}
.main_4 > div:nth-child(2) {
  border: solid #d0d0d0 2px;
  background: white;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 14px;
}
.main_4 > div:nth-child(3) {
  border: solid #d0d0d0 2px;
  background: white;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
}
.main_4 > div:nth-child(4) {
  border: solid #d0d0d0 2px;
  background: white;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 14px;
}
.main_4 > div:nth-child(5) {
  border: solid #d0d0d0 2px;
  background: white;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}
.main_4 > div:nth-child(6) {
  border: solid #d0d0d0 2px;
  background: white;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 14px;
}

.main_4 > div > p {
  font-size: 12px;
}
.main_4 > div > h3 {
  font-size: 15px;
  padding-left: 15px;
}
.main_5 {
  background: #e0b943;
  width: 744px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  bottom: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.main_5 > div > h2 {
  color: black;
  font-size: 15px;
  padding: 1rem;
}
.main_5 > button {
  background: black;
  color: #e0b943;
  width: 250px;
  border-radius: 6px;
}
.main_5_info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.main_6 {
  color: black;
  height: 300px;
  position: relative;
  bottom: 6.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a a a"
    "b c d";
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.main_6 > div:nth-child(1) {
  grid-area: a;
}
.main_6 > div:nth-child(2) {
  border: solid #d0d0d0 2px;
  color: #000000;
  grid-area: b;
  height: 13rem;
  width: 16rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 14px;
}
.main_6 > div:nth-child(3) {
  border: solid #d0d0d0 2px;
  color: #000000;
  grid-area: c;
  height: 13rem;
  width: 16rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 14px;
}
.main_6 > div:nth-child(4) {
  border: solid #d0d0d0 2px;
  background: rgb(0, 0, 0);
  color: white;
  grid-area: d;
  height: 13rem;
  width: 16rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 14px;
}
.main_6 > div > p {
  display: flex;
}
.main_6 > div > h3 {
  text-decoration: underline;
}
.main_7 {
  color: black;
  width: 100%;
  height: 200px;
  margin-top: -99px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main_7 > div:nth-child(1) {
  background: #e0b943;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main_7 > div:nth-child(2) {
  background: #d0d0d0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main_8 {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 180px;
  background: url(../Media/Images/mike.jpg);
}
.main_8 > div {
  background: #00000098;
  height: 100%;
}
.main_9 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main_10 {
  background: #d0d0d0;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main_11 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e0b943;
}
@media (max-width: 1199px) {
  .top_main {
    width: 1199px;
  }
}
@media (max-width: 1199px) {
  .top_main {
    width: 1011px;
  }
}
@media (max-width: 1011px) {
  .top_main {
    width: 767px;
  }
  .main_5 {
    width: 590px;
  }
  .main_5 > div > h2 {
    font-size: 1rem;
  }
  .main_2 {
    grid-template-columns: repeat(4, 110px);
  }
  .main_2 > div:nth-child(2) {
    width: 100px;
  }
  .main_2 > div:nth-child(3) {
    width: 100px;
  }
  .main_2 > div:nth-child(4) {
    width: 100px;
  }
  .main_2 > div:nth-child(5) {
    width: 100px;
  }
  .main_2 > div:nth-child(6) {
    width: 100px;
  }
  .main_2 > div:nth-child(7) {
    width: 100px;
  }
  
  .main_4 {
    grid-template-columns: repeat(6, 100px);
  }
  .main_4 > div:nth-child(2) {
    height: 80px;
    width: 80px;
  }
  .main_4 > div:nth-child(3) {
    height: 80px;
    width: 80px;
  }
  .main_4 > div:nth-child(4) {
    height: 80px;
    width: 80px;
  }
  .main_4 > div:nth-child(5) {
    height: 80px;
    width: 80px;
  }
  .main_4 > div:nth-child(6) {
    height: 80px;
    width: 80px;
  }
  .main_4 > div:nth-child(7) {
    height: 80px;
    width: 80px;
  }
  .main_6 {
    grid-template-columns: repeat(3, 215px);
  }
  .main_6 > div:nth-child(2) {
    height: 10rem;
    width: 10rem;
  }
  .main_6 > div:nth-child(3) {
    height: 10rem;
    width: 10rem;
  }
  .main_6 > div:nth-child(4) {
    height: 10rem;
    width: 10rem;
  }
}
/*  */
@media (max-width: 767px) {
  .top_main {
    width: 620px;
  }
  .main_3 {
    grid-template-columns: repeat(2,310px);
    height: 418px;
  }
  .main_4 {
    grid-template-columns: repeat(6, 102px);
  }
  .main_6 > div:nth-child(2) {
    width: 10rem;
    height: 10rem;
  }
  .main_6 > div:nth-child(3) {
    width: 10rem;
    height: 10rem;
  }
  .main_6 > div:nth-child(4) {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 620px) {
  .top_main {
    width: 560px;
  }
}
@media (max-width: 560px) {
  .top_main {
    width: 300px;
  }
}
@media (max-width: 300px) {
}
