.card_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  justify-content: center;
  /* gap: 2rem; */
  width: 1250px;
  background: #3b35353c;
}
.cellphone_container {
  width: 230px;
  height: 510px;
  background-color: #000000;
  margin: 40px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 25px;
}
.movie-img {
  width: 230px;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, black),
    color-stop(0.35, black),
    color-stop(0.5, black),
    color-stop(0.65, black),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, transparent)
  );
}
/* .text_movie {
  width: 8rem;
} */
.text_movie > h1 {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
}
.watch_btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1.5rem;
  left: 1rem;
  border: 1px solid #fe4141;
  border-radius: 5px;
  padding: 1px;
  width: 200px;
  color: #ffffff;
}
.watch_btn > h3 {
  font-size: 15px;
  display: flex;
}
.text_h1 {
  font-family: "Montserrat", sans-serif;
  color: #e7e7e7;
  display: flex;
  justify-content: center;
  width: 14.4rem;
  height: 1rem;
  font-weight: 600;
}

.movie_likes > li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  position: relative;
  bottom: 22.2rem;
  width: 35px;
  display: block;
  float: left;
  font-weight: 600;
  color: #ffffff;
}
.fa_heart {
  color: #ff008a;
  font-size: 35px;
  position: relative;
  bottom: 16px;
  left: 6rem;
}
.delete_movie {
  margin: 0;
  position: relative;
  bottom: 10px;
  left: 3rem;
  font-size: 40px;
  background: none;
  border: none;
  color: red;
}
.icon_style {
  font-size: 38px;
}
.sort_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: none;
  width: 1250px;
}
.btn_sort {
  border-radius: 35px;
  border: solid 1px;
  width: 35px;
  height: 35px;
  font-size: 15px;
  background: #ffd500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort_za {
  color: red;
  border: none;
  background: none;
  width: 3rem;
}
.search_movie {
  width: 30rem;
  height: 2rem;
  border: #000000 solid;
  border-radius: 7px;
}

/* media query  */

@media (max-width: 1399px) {
  .card_grid {
    width: 1055px;
    grid-template-columns: repeat(4, 250px);
  }
  .sort_container {
    width: 1055px;
  }
}
@media (max-width: 1199px) {
  .card_grid {
    width: 800px;
    grid-template-columns: repeat(3, 250px);
  }
  .sort_container {
    width: 800px;
  }
}
@media (max-width: 1011px) {
  .card_grid {
    width: 555px;
    grid-template-columns: repeat(2, 250px);
  }
  .sort_container {
    width: 555px;
  }
  .cover {
    width: 20%;
  }
  .search_movie {
    width: 16rem;
  }
}
@media (max-width: 767px) {
  .card_grid {
    width: 300px;
    grid-template-columns: repeat(2, 250px);
    width: 544px;
  }
  .sort_container {
    width: 300px;
  }
  .sort_container {
    width: 548px;
  }
}
@media (max-width: 580px) {
  .card_grid {
    grid-template-columns: repeat(1, 1fr);
    width: 354px;
  }
  .movie_overview {
    font-size: 12px;
  }
  .sort_container {
    width: 300px;
  }
  .sort_container {
    width: 345px;
  }
  .spacer {
    flex-grow: 0;
    padding-left: 5px;
  }
}
@media (max-width: 300px) {
  .card_grid {
    width: 260px;
  }
  .spacer {
    flex-grow: 0;
    padding-left: 5px;
  }
  .search_movie {
    width: 11rem;
  }
}
