.card_grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,2fr);
    /* height: 140vh; */
    background:transparent;
    max-height: 100%;
    min-height: 400px;
}