.nav_top{
    background: #1e1b26 !important;
    padding: 1rem;
   
}
.spacer{
   flex-grow: 1;
}
.img_logo{
    width: 5rem;
    border: rgba(255, 255, 255, 0.425) solid 2px;
}

.btn_taggle{
    margin: 0;
    border-radius: 3rem;
    width: 15px;
    height: 25px;
    display: flex;
    margin-right: 1rem;
}
.text_icon{
    margin-left: 15px;
    color:rgb(255, 255, 255) !important;
    display: flex;
    align-items: center
}
.text_icon_m{
    color: yellow;
}

.text_icon_a{
    color: rgb(255, 0, 0);
}
.nav_link{
    display: flex;
}